/*
 * Element styling
 */
body {
  background-color: #DEE5E6;
  font-family: 'Merriweather', serif;
  color: #424040;
  font-size: 18px;
  padding-bottom: 60px;
}
p {
  word-wrap: break-word;
  line-height: 35px;
}
pre {
  font-size: 15px !important;
  border: 1px solid rgba(204, 204, 204, 0.1);
}
a:hover {
  text-decoration: none;
}
code {
  background-color: rgba(0, 43, 54, 0.05);
  border: 4px solid rgba(204, 204, 204, 0.05);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424040;
  text-align: justify;
}
h1 {
  font-size: 38px;
  border-bottom: 4px solid rgba(38, 42, 44, 0.68);
  margin-top: 60px;
  word-break: break-word;
}
h2 {
  font-size: 36px;
}
code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
hr {
  border-top: 1px solid #262a2c;
}
blockquote {
  border-color: rgba(27, 27, 27, 0.1);
  font-style: italic;
}
/*
 * Global stuff
 */
.center-block {
  float: none;
}
.centered-label {
  text-align: center !important;
  font-size: .7em;
  font-style: italic;
  margin-top: -10px;
}
.browsing-header.affix {
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 40px;
  top: 0;
}
/*
 * Base stuff, header/footer
 */
.header {
  background-color: #1B1B1B;
  padding: 60px 0;
  width: 100%;
  display: block;
}
.header .header-content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.header .eric {
  float: left;
  margin-right: 35px;
  margin-left: 50px;
  border: 0;
}
.header .eric.large {
  display: none;
}
.header .title {
  font-size: 50px;
  font-weight: 300 !important;
  padding-top: 28px;
  border-bottom: 0;
  color: rgba(171, 221, 225, 0.83);
  line-height: 1.1;
  margin-bottom: 10px;
}
.header .menu {
  opacity: 0;
  display: inline-block;
  margin-left: -36px;
}
.header .menu ul {
  list-style-type: none;
}
.header .menu ul li {
  display: inline;
  margin-right: 10px;
}
.header .menu ul li:last-child {
  margin-right: 0;
}
.header .menu ul li a {
  color: rgba(171, 221, 225, 0.83);
  padding-bottom: 1px;
}
.header .menu ul li a.active,
.header .menu ul li a:hover {
  border-bottom: 4px solid rgba(255, 104, 195, 0.65);
}
.header .menu .selected {
  border-bottom: 4px solid rgba(255, 104, 195, 0.65);
}
.header.stuck {
  position: fixed;
}
.navbar.navbar-inverse {
  background-color: #1B1B1B;
}
.navbar .eric-brand-logo {
  width: 28px;
  height: 28px;
}
.navbar a.selected {
  background-color: rgba(255, 104, 195, 0.65);
  color: #1B1B1B !important;
}
.footer {
  padding-top: 120px;
}
.footer .credit {
  font-size: 12px;
}
.footer .social-icons .fa {
  margin-left: 5px;
}
.footer .social-icons .fa:hover {
  color: #63bdff;
}
.footer .social-icons .fa-rss {
  color: #FF6600;
}
.footer .social-icons .fa-twitter {
  color: #4099ff;
}
.footer .social-icons .fa-facebook {
  color: #3B5998;
}
.footer .social-icons .fa-linkedin {
  color: #0e76a8;
}
.footer .social-icons .fa-github {
  color: #7a7a7a;
}
/*
 * Articles
 */
.article {
  padding-bottom: 60px;
}
.article .title {
  text-align: center;
}
.article .date {
  margin-top: 20px;
  color: #2b2b2b;
}
.article .article-footer {
  font-size: 13px;
}
.article .article-footer .fa {
  color: #FF68C3;
}
.article .article-footer .fa-folder-o {
  margin: 0 1px;
}
.article .article-footer .tags {
  margin-top: 20px;
}
.article h1 {
  line-height: 60px;
}
.article h2 {
  margin-top: 60px;
}
.article h3 {
  margin-top: 35px;
}
.article p {
  text-align: justify;
}
.article img {
  margin: 10px auto;
  border: 10px solid rgba(27, 27, 27, 0.1);
}
/*
 * About page
 */
.about-text {
  margin-top: 20px;
  margin-bottom: 100px;
}
/*
 * Resume page
 */
.resume_page ul {
  list-style-type: none;
}
.resume_page .tools-and-fun ul {
  margin: 25px 0;
  text-align: center;
}
.resume_page .tools-and-fun li {
  display: inline;
}
.resume_page .tools-and-fun li a {
  display: inline-block;
  background-color: rgba(43, 101, 151, 0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.resume_page .tools-and-fun li .fa-star {
  margin-left: 0;
  padding-right: 5px;
}
.resume_page .tools-and-fun .fa-star {
  float: left;
  margin-top: 4px;
  margin-left: -22px;
  color: #FF68C3;
}
.resume_page .fun_title {
  margin-top: 80px;
}
.resume_page #skill_graph {
  margin-top: -10px;
}
.resume_page .skills-container p {
  padding-bottom: 40px;
}
/*
 * Disqus styling
 */
/*
 * Useful styles
 */
.image-wrapper {
  display: block;
  padding: 50px;
  text-align: center !important;
}
.img-responsive {
  margin: 0 auto;
}
.image-full-width {
  width: 100%;
  border: 10px solid rgba(27, 27, 27, 0.1);
}
.youtube {
  display: block;
  margin: 10px auto;
  border: 10px solid rgba(27, 27, 27, 0.1);
}
