/*
 * Element styling
 */
body {
  background-color: #0a0a0a;
  font-family: 'Merriweather', serif;
  color: #7a7a7a;
  font-size: 18px;
  padding: 60px 0;
}
p {
  word-wrap: break-word;
  line-height: 35px;
}
pre {
  font-size: 15px !important;
  border: 1px solid rgba(204, 204, 204, 0.1);
}
a:hover {
  text-decoration: none;
}
code {
  background-color: rgba(0, 43, 54, 0.3);
  color: #839496;
  border: 1px solid rgba(204, 204, 204, 0.05);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ababab;
}
h1 {
  font-size: 50px;
  border-bottom: 1px solid #262a2c;
  margin-top: 60px;
  word-break: break-word;
}
h2 {
  font-size: 36px;
}
img {
  padding: 10px;
  border: 1px solid #1B1B1B;
}
code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
hr {
  border-top: 1px solid #262a2c;
}
/*
 * Base stuff, header/footer
 */
.header {
  margin-bottom: 30px;
}
.header .eric {
  float: left;
  margin: 25px;
  margin-left: 0;
  margin-right: 35px;
  border: 0;
  padding: 0;
  background-image: url('../images/eric4.png');
  width: 138px;
  height: 138px;
}
.header .title {
  font-size: 50px;
  font-weight: 300 !important;
  margin-top: 35px;
  border-bottom: 0;
  color: #3d3d3d;
  line-height: 1.1;
  margin-bottom: 10px;
}
.header .menu ul {
  list-style-type: none;
}
.header .menu ul li {
  display: inline;
  margin-right: 10px;
}
.header .menu ul li:last-child {
  margin-right: 0;
}
.header .title,
.header .menu {
  margin-left: 15px;
}
.footer {
  padding-top: 120px;
}
.footer .credit {
  font-size: 12px;
}
.footer .social-icons .fa {
  margin-left: 5px;
}
.footer .social-icons .fa:hover {
  color: #63bdff;
}
.footer .social-icons .fa-rss {
  color: #FF6600;
}
.footer .social-icons .fa-twitter {
  color: #4099ff;
}
.footer .social-icons .fa-facebook {
  color: #3B5998;
}
.footer .social-icons .fa-linkedin {
  color: #0e76a8;
}
.footer .social-icons .fa-github {
  color: #7a7a7a;
}
/*
 * Articles
 */
.article {
  padding-bottom: 60px;
}
.article .title {
  text-align: center;
}
.article .date {
  margin-top: 20px;
  color: #2b2b2b;
}
.article .article-footer {
  font-size: 13px;
}
.article .article-footer .fa {
  color: #ce5d12;
}
.article .article-footer .fa-folder-o {
  margin: 0 1px;
}
.article .article-footer .tags {
  margin-top: 20px;
}
.article h1 {
  line-height: 78px;
}
.article h2 {
  margin-top: 60px;
}
.article h3 {
  margin-top: 35px;
}
/*
 * Resume page
 */
.resume_page ul {
  list-style-type: none;
}
.resume_page .tools-and-fun .tools {
  /*
            ul { padding: 0; }

            .python {
                border-left: 30px solid hsl(149, 100%, 23%);
                padding-left: 10px;
            }
            .django-rest-framework {
                border-left: 20px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 10px;
            }
            .celery {
                border-left: 10px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 20px;
            }
            .angular {
                border-left: 20px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 10px;
            }
            .knockout {
                border-left: 10px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 20px;
            }*/

}
.resume_page .tools-and-fun .fa-star {
  float: left;
  margin-top: 4px;
  margin-left: -22px;
  color: #ce5d12;
}
.resume_page .fun_title {
  margin-top: 80px;
}
/*
 * Disqus styling
 */
/*
 * Useful styles
 */
.image-wrapper {
  padding: 50px;
}
.image-full-width {
  width: 100%;
}
.youtube {
  display: block;
  margin: 0 auto;
}
