@white: hsl(0, 0%, 67%);
@blueish: #2a6496;
@opposite_blueish: #CE5D12;

/*
 * Element styling
 */
body {
    background-color: #0a0a0a;
    font-family: 'Merriweather', serif;
    color: rgb(122, 122, 122);
    font-size: 18px;
    padding: 60px 0;
}
p {
    //text-indent: 15px;
    word-wrap: break-word;
    line-height: 35px;
}
pre {
    font-size: 15px !important;
    border: 1px solid rgba(204, 204, 204, 0.1);
}
a:hover { text-decoration: none; }
code {
    background-color: rgba(0, 43, 54, 0.3);
    color: rgb(131, 148, 150);
    border: 1px solid rgba(204, 204, 204, 0.05);
}
h1, h2, h3, h4, h5, h6 {
    color: @white;
}
h1 {
    font-size: 50px;
    border-bottom: 1px solid hsl(197, 7%, 16%);
    margin-top: 60px;
}
h2 { font-size: 36px; }
img {
    padding: 10px;
    border: 1px solid #292929;
}

/*
 * Responsive jazz
 */
@media all and (max-width: 1200px) {
    .header {
        .eric {
            margin-top: -15px !important;
        }
    }

    .resume_page {
        .fun_title {
            margin-top: 60px !important;
        }
    }
}

@media all and (max-width: 995px) {
    .header {
        .title {
            font-size: 40px;
        }
    }

    pre {
        font-size: 13px !important;
    }
}

@media all and (max-width: 765px) {
    .resume_page {
        ul {
            padding-left: 0 !important;
        }
        .skills-and-fun {
            text-align: center;
        }
    }

    .youtube {
        width: 100%;
    }
}

@media all and (max-width: 660px) {
    .header {
        text-align: center;

        .eric {
            float: none !important;
            display: block;
            margin: 0 auto !important;
            margin-bottom: 60px !important;

            background-image: url('../images/eric4_large.png') !important;
            width: 275px !important;
            height: 275px !important;
        }
        .title {
            display: none;
        }
        .menu {
            margin-left: 0 !important;

            ul {
                padding: 0;
                font-size: 24px;
                li {
                    display: block !important;
                    margin: 10px 0 !important;
                }
                a {
                    display: block;
                    font-size: 32px;
                    background-color: #0E0E0E;
                }
            }
        }
    }

    .resume_page {
        .skills-and-fun {
            ul {
                margin: 25px 0 !important;;
            }
            li {
                display: inline;

                a {
                    background-color: rgba(43, 101, 151, 0.1);
                    padding: 10px;
                    margin: 10px;
                    border-radius: 5px;
                }
            }
        }
    }

    .footer {
        .social-icons {
            margin-top: 25px;
        }
    }
}

/*
 * Base stuff, header/footer
 */
.header {
    margin-bottom: 30px;

    .eric {
        float: left;
        margin: 15px;
        margin-right: 35px;
        border: 0;
        padding: 0;

        background-image: url('../images/eric4.png');
        width: 138px;
        height: 138px;
    }
    .title {
        font-size: 50px;
        font-weight: 300 !important;
        margin-top: 35px;
        border-bottom: 0;
        color: @white;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    .menu {
        ul {
            list-style-type: none;

            li {
                display: inline;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .title, .menu {
        margin-left: 15px;
    }
}

.footer {
    padding-top: 120px;

    .credit {
        font-size: 12px;
    }

    .social-icons {
        .fa {
            margin-left: 5px;
            &:hover {
                color: #63bdff;
            }
        }

        .fa-rss { color: #FF6600; }
        .fa-twitter { color: #4099ff; }
        .fa-facebook { color: #3B5998; }
        .fa-linkedin { color: #0e76a8; }
        .fa-github { color: rgb(122, 122, 122); }
    }
}


/*
 * Articles
 */
.article {
    padding-bottom: 60px;

    .date {
        margin-top: 20px;
        color: rgb(43, 43, 43);
    }
    .article-footer {
        font-size: 13px;

        .fa {
            color: @opposite_blueish;
        }
        .fa-folder-o {
            margin: 0 1px;
        }
        .tags {
            margin-top: 20px;
        }
    }

    h2 {
        margin-top: 60px;
    }
    h3 {
        margin-top: 35px;
    }
}



/*
 * Resume page
 */
.resume_page {
    ul { list-style-type: none; }

    .skills-and-fun {
        .skills {
            /*
            ul { padding: 0; }

            .python {
                border-left: 30px solid hsl(149, 100%, 23%);
                padding-left: 10px;
            }
            .django-rest-framework {
                border-left: 20px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 10px;
            }
            .celery {
                border-left: 10px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 20px;
            }
            .angular {
                border-left: 20px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 10px;
            }
            .knockout {
                border-left: 10px solid hsl(149, 100%, 23%);
                padding-left: 10px;
                margin-left: 20px;
            }*/
        }

        .fa-star {
            float: left;
            margin-top: 4px;
            margin-left: -22px;
            color: @opposite_blueish;
        }
    }

    .fun_title {
        margin-top: 80px;
    }
}

/*
 * Disqus styling
 */
#disqus_thread {
    // None of this works...!?
    //color: #efefef !important;

    //textarea {
    //    background-color: rgba(0, 0, 0, 0.8) !important;
    //}
}

/*
 * Useful styles
 */
.image-full-width {
    width: 100%;
}

.youtube {
    display: block;
    margin: 0 auto;
}
