/*
 * Responsive jazz
 */
@media all and (max-width: 1200px) {
  .resume_page .fun_title {
    margin-top: 60px;
  }
}
@media all and (max-width: 995px) {
  .header .title {
    font-size: 40px;
  }
  pre {
    font-size: 13px;
  }
}
@media all and (max-width: 765px) {
  h1 {
    font-size: 28px;
    padding-bottom: 5px;
  }
  .article h1 {
    line-height: 40px;
  }
  h2,
  h3,
  h4 {
    font-size: 24px;
    text-align: center;
  }
  .resume_page ul {
    padding-left: 0;
  }
  .resume_page .skills-and-fun {
    text-align: center;
  }
  .resume_page .skills-and-fun .fa-star {
    float: none;
    margin-left: 0;
  }
  .youtube {
    width: 100%;
  }
}
@media all and (max-width: 660px) {
  .article p {
    font-size: 16px;
    line-height: 28px;
  }
  .header {
    text-align: center;
  }
  .header .header-content {
    width: 100%;
  }
  .header .col-xs-offset-2 {
    margin-left: 0;
  }
  .header .eric {
    float: none;
    display: block;
    margin: 0 auto;
    width: 275px;
    height: 275px;
  }
  .header .eric.small {
    display: none;
  }
  .header .eric.large {
    display: block;
  }
  .header .title {
    display: none;
  }
  .header .menu {
    margin-left: 0;
    display: block;
  }
  .header .menu ul {
    padding: 0;
    font-size: 24px;
  }
  .header .menu ul li {
    display: block;
    margin: 10px 0;
  }
  .header .menu ul a {
    font-size: 32px;
  }
  .resume_page .tools-and-fun ul {
    margin: 25px 0;
    text-align: center;
  }
  .resume_page .tools-and-fun li {
    display: inline;
  }
  .resume_page .tools-and-fun li a {
    display: inline-block;
    background-color: rgba(43, 101, 151, 0.1);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  .resume_page .tools-and-fun li .fa-star {
    margin-left: 0;
    padding-right: 5px;
  }
  .footer .social-icons {
    margin-top: 25px;
  }
  img {
    width: 100%;
  }
  .image-wrapper {
    padding: 0;
  }
}
