body {
  background-color: #0a0a0a;
  color: #666666;
  font-size: 16px;
  padding-bottom: 60px;
}
p {
  line-height: 30px;
}
pre {
  border: 1px solid rgba(204, 204, 204, 0.1);
}
a:hover {
  text-decoration: none;
}
code {
  background-color: rgba(0, 43, 54, 0.3);
  color: #839496;
  border: 1px solid rgba(204, 204, 204, 0.05);
}
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
.header {
  font-family: 'Raleway', sans-serif;
  font-weight: 200 !important;
  margin-bottom: 30px;
}
.header .eric {
  float: left;
  margin: 15px;
}
.header .title {
  margin-top: 35px;
  color: #4d4d4d;
  font-weight: 200 !important;
}
.header .menu ul {
  list-style-type: none;
}
.header .menu ul li {
  display: inline;
  margin-right: 10px;
}
.article {
  font-family: 'Merriweather', serif;
  padding-bottom: 60px;
}
.article .title {
  border-bottom: 1px solid #1b1b1b;
}
.article .date {
  margin-top: 20px;
  color: #2b2b2b;
}
.article .tags {
  margin-left: 20px;
  font-size: 13px;
  color: #277a94;
}
.article .tags a {
  color: #277a94;
}
.article h2 {
  margin-top: 60px;
  color: #9c9c9c;
}
.article h3 {
  margin-top: 25px;
  color: #4f6275;
}
.footer {
  padding-top: 120px;
}
.footer .fa {
  margin-left: 5px;
}
.footer .fa:hover {
  color: #63bdff;
}
.footer .fa-twitter {
  color: #4099ff;
}
.footer .fa-linkedin {
  color: #0e76a8;
}
.footer .fa-github {
  color: #7a7a7a;
}
/*
 * Disqus styling
 */
#disqus_thread {
  color: #efefef !important;
}
#disqus_thread textarea {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
