{% extends "base.html" %}

{% block head %}
    <title>{{ article.title }} - Eric's Nerdery python development blog</title>
{% endblock %}

{% block meta_description %}{{ article.summary|striptags|e }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                {% include "includes/_article.html" %}
            </div>
        </div>

        <a name="disqus"></a>
        <div class="disqus">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'ericcarmichaelsnerdery';
                var disqus_identifier = '{{ article.url }}';
                var disqus_title = '{{ article.title }}';

                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span
                    class="logo-disqus">Disqus</span></a>
        </div>
    </div>
{% endblock %}
