<html>
<head>
    {% block head %}
    {% endblock %}

    <link href="{{ SITEURL }}/theme/css/pygment-solarized-dark.css" rel="stylesheet" type="text/css"/>
    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ SITEURL }}/theme/css/typeplate.css" rel="stylesheet" type="text/css"/>
    <link href="{{ SITEURL }}/theme/css/main.css" rel="stylesheet" type="text/css"/>

    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css'>

    {% assets filters="cssmin", output="css/style.min.css", "css/inuit.css", "css/pygment-monokai.css", "css/main.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="container header">
        <div class="row">
            <div class="col-lg-12">
                <img src="{{ SITEURL }}/theme/images/eric2.png" class="eric">
                <h1 class="title">{{ SITENAME|lower }}</h1>

                <div class="menu">
                    <ul>
                        <li><a href="{{ SITEURL }}">blog</a></li>
                        {% for page in pages %}
                            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title|lower }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="container">
        <div class="row footer">
            <div class="col-lg-12">
                <div class="pull-left">
                    created with love by <a href="mailto:eric@ckcollab.com">eric carmichael</a> using <a href="https://github.com/getpelican/pelican">pelican</a>
                </div>

                <div class="pull-right">
                    <a href="http://github.com/ckcollab/" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/CKCollab" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://linkedin.com/in/ericatckcollab" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
