<html>
<head>
    {% block head %}
    {% endblock %}

    <meta charset='utf-8'>

    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

    {% assets filters="cssmin", output="css/packed.min.css", "css/bootstrap.min.css", "css/font-awesome.min.css", "css/pygment-solarized-dark.css", "css/main.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="container header">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/images/eric2.png" class="eric"></a>

                <h1 class="title hidden-xs">{{ SITENAME|lower }}</h1>

                <div class="menu">
                    <ul>
                        <li><a href="{{ SITEURL }}/index.html">blog</a></li>
                        {% for page in pages %}
                            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title|lower }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="container">
        <div class="row footer">
            <div class="col-lg-12">
                <div class="pull-left credit">
                    <a href="mailto:eric@ckcollab.com">eric carmichael</a> whipped this up using <a href="https://github.com/getpelican/pelican">pelican</a>
                </div>

                <div class="pull-right">
                    <a href="{{ SITEURL }}/feeds/all.atom.xml"><i class="fa fa-rss"></i></a>
                    <a href="http://github.com/ckcollab/" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/CKCollab" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://linkedin.com/in/ericatckcollab" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
