{% extends "base.html" %}

{% block head %}
    <title>{{ tag }} articles - Eric's Nerdery python development blog</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ tag }}</h1>

            {% for article in articles %}
                {% if article.link %}
                    <p><a href="{{ article.link }}">{{ article.locale_date }} {{ article.title }} <i
                            class="fa fa-external-link" target="_blank"></i></a></p>
                {% else %}
                    <p>{{ article.locale_date }} <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
