{% extends "base.html" %}

{% block head %}
    <title>Tags - Eric's Nerdery python development blog</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Tags for the nerdery</h1>
                <ul style="list-style-type: none;">
                    {% for tag in tag_cloud|sort %}
                        <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
